<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybats-3-mapper.dtd">

<mapper namespace="kr.co.buck1.admin.AdminMapper">
	
	<select id="member" resultType="kr.co.buck1.member.MemberVO">
		select * 
		from member
		where
			userid like concat('%',#{param1},'%') or
			username like concat('%',#{param1},'%') or
			nickname like concat('%',#{param1},'%') or
			email like concat('%',#{param1},'%')
		limit #{param2},20
	</select>
	
	<select id="memberGetTotal" resultType="Integer">
		select ceil(count(*)/20)
		from member
		where
			userid like concat('%',#{param1},'%') or
			username like concat('%',#{param1},'%') or
			nickname like concat('%',#{param1},'%') or
			email like concat('%',#{param1},'%')
	</select>
	
	<select id="order" resultType="kr.co.buck1.vo.PurchaseVO">
		SELECT 
			a.*,
			b.name,
			b.size,
			c.storename,
			d.nickname
		FROM 
			purchase AS a,
			menu AS b,
			store AS c,
			member AS d
		WHERE 
			a.prod_code = b.code and
			a.store_id = c.id and
			a.userid = d.userid
		ORDER BY
			a.id DESC
	</select>
	
	<select id="getOrderCount" resultType="Integer">
		SELECT COUNT(DISTINCT order_code) AS cnt
		FROM purchase
	</select>
	
	<select id="getOrderItemCount" resultType="kr.co.buck1.vo.PurchaseVO">
		SELECT
			order_code,
			COUNT(*) AS cnt
		FROM
			purchase
		WHERE
			store_id != 'null'
		GROUP BY
			order_code
		ORDER BY
			id DESC
	</select>
	
	<update id="orderProgress">
		UPDATE purchase
		SET state = #{param2}
		WHERE order_code = #{param1}
	</update>
	
	<select id="getMenu" resultType="kr.co.buck1.menu.MenuVO">
		SELECT
			menu.id,
			menu.name,
			menu.price,
			if(menu.type=1, "Hot", "Iced") AS typename,
			if(menu.size=1, "Short", 
				if(menu.size=2, "Tall", 
					if(menu.size=3,"Grande","Venti"))) AS sizename,
			if(menu.state=1, "주문가능", "주문불가") AS statename,
			menu.state,
			cate.catename
		FROM
			menu AS menu,
			menu_cate AS cate
		WHERE
			menu.cate1 = cate.cate1 AND 
			menu.cate2 = cate.cate2 AND
			menu.name LIKE concat('%',#{param1},'%') AND
			menu.cate2 = #{param2}
	</select>
	
	<select id="getCateDrink" resultType="kr.co.buck1.menu.MenuVO">
		SELECT
			*
		FROM
			menu_cate
		WHERE
			cate1 = 01
	</select>
	
	<insert id="setMenu" parameterType="kr.co.buck1.menu.MenuVO">
		INSERT INTO 
		menu(cate1, cate2, code, name, type, size, price, img, writeday)
		VALUES('01', #{cate2}, #{code}, #{name}, #{type}, #{size}, #{price}, #{img}, now())
	</insert>
	
	<select id="codeGenerate" resultType="String">
		SELECT
			ifnull(SUBSTR(MAX(code),5,2),0)
		FROM 
			menu
		WHERE
			code LIKE concat(#{param1},#{param2},'__',#{param3},'%')
	</select>
	
	<update id="menu_stateChange">
		UPDATE menu
		SET state = 9
		WHERE id = #{param1}
	</update>
	
	
	<!-- 이벤트 관리 -->
	<select id="campaignList" resultType="kr.co.buck1.whatsnew.WhatsNewVO">
		SELECT 
			*, 
			if(category=1,"스타벅스 카드",
				if(category=2,"스타벅스 리워드",
					if(category=3,"온라인","선택없음"))) AS catename
		FROM campaign
		ORDER BY id DESC
	</select>
	
</mapper>