<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybats-3-mapper.dtd">

<mapper namespace="kr.co.buck1.admin.AdminMapper">
	
	<select id="member" resultType="kr.co.buck1.member.MemberVO">
		select * 
		from member
		where
			userid like concat('%',#{param1},'%') or
			username like concat('%',#{param1},'%') or
			nickname like concat('%',#{param1},'%') or
			email like concat('%',#{param1},'%')
		limit #{param2},20
	</select>
	
	<select id="memberGetTotal" resultType="Integer">
		select ceil(count(*)/20)
		from member
		where
			userid like concat('%',#{param1},'%') or
			username like concat('%',#{param1},'%') or
			nickname like concat('%',#{param1},'%') or
			email like concat('%',#{param1},'%')
	</select>
	
</mapper>