<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybats-3-mapper.dtd">

<mapper namespace="kr.co.buck1.member.MemberMapper">
	
	<select id="signin_ok" parameterType="kr.co.buck1.member.MemberVO" resultType="Integer">
		select count(*) 
		from member 
		where userid=#{userid} and pwd=#{pwd}
	</select>
	
	<insert id="signup_ok" parameterType="kr.co.buck1.member.MemberVO">
		insert into member
		(userid,pwd,username,nickname,birth,phone,email,writeday)
		values(#{userid},#{pwd},#{username},#{nickname},#{birth},#{phone},#{email},now())
	</insert>
	
	<select id="getInfo" resultType="kr.co.buck1.member.MemberVO">
		select * from member where userid=#{param1}
	</select>
	
	<select id="idcheck" resultType="Integer">
		select count(*) from member where userid=#{param1}
	</select>
	
	<select id="phonecheck" resultType="Integer">
		select count(*) from member where phone=#{param1}
	</select>
	
	<select id="search_id" resultType="String">
		select userid from member where phone=#{param1}
	</select>
	
	<select id="search_pwd" resultType="kr.co.buck1.member.MemberVO">
		select * from member where userid=#{param1} and phone=#{param2}
	</select>
	
	<update id="info_update_ok">
		update member set nickname=#{param1}, email=#{param2} where id=#{param3}
	</update>
	
	<update id="withdrawal">
		update member
		set state = 9
		where userid = #{param1}
	</update>
	
	<select id="sbcard_charge" resultType="Integer">
		select sbcard
		from member
		where userid = #{param1}
	</select>
	
</mapper>


