@charset "UTF-8";

body, div {
	vertical-align:baseline;
	margin:0px;
	padding:0px;
	border:0px;
}
#wrap {
	width:100%;
	position:relative;
	overflow-x:hidden;
}
#wrap #gnb {
	width:100%;
	height:120px;
	background:#f6f5ef;
	margin:0;
}
#gnb #first {
	width:1000px;
	height:120px;
	position:relative;
	margin:0px auto;
}
#gnb #first #left {
	position:absolute;
	left:0px;
	width:75px;
	height:75px;
	cursor:pointer;
	padding-top:23px;
}
#gnb #first #nav-member {
	text-align:right;
	margin-right:42px;
	padding-top:10px;
}
#gnb #first #nav-menu {
	text-align:center;
	/* margin-top:32px; */
}
#gnb #first #nav-menu #nav-menu-list {
	margin:0px;
}
#gnb #first #nav-menu #nav-menu-list #top-menu {
	list-style:none;
	display:inline-block;
	position:relative;
	width:170px;
}
#gnb #first #nav-menu #nav-menu-list #top-menu div:hover {
	color:#669900;
	text-decoration:underline;
}
#gnb #first #nav-menu #nav-menu-list #top-menu .drop-menu {
	position:absolute;
	list-style:none;
	width:170px;
	height:auto;
	padding:9px 0px;
	line-height:40px;
	visibility:hidden;
	background:#2C2A29;
	color:white;
}
#gnb #first #nav-menu #nav-menu-list #top-menu .drop-menu a {
	text-decoration:none;
	color:white;
	cursor:pointer;
}
#gnb #first #nav-menu #nav-menu-list #top-menu .drop-menu a:hover {
	color:#669900;
}





#footer {
	position:relative;
	width:100%;
	font-size:12px;
	background:#2C2A29;
	text-align:center;
}
#footer .copyright {
	width:1200px;
	margin:auto;
	padding:60px 0px;
	color:#CCCCCC;
}
#footer .copyright a {
	text-decoration:none;
	color:#CCCCCC;
	padding:0 10px;
}
#footer .copyright a:hover {
	text-decoration:underline;
}
#footer .copyright .copy_menu {
	color:#999999;
	padding:25px 0 5px 0;
}
#footer .copyright .copy_menu li {
	list-style:none;
	line-height:1.3;
	display:inline-block;
	margin:0px 7px;
}
#footer .copyright .en {
	color:#999999;	
}