<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybats-3-mapper.dtd">

<mapper namespace="kr.co.buck1.cart.CartMapper">
	
	<select id="list" resultType="kr.co.buck1.cart.CartVO">
		select A.*, B.name, B.type, B.size
		from cart A inner join menu B
		on a.userid=#{param1} and B.code=A.code and A.state=0;
	</select>
	
	<update id="delete">
		update cart set state=9 where id=#{param1}
	</update>
	
	<update id="unit_minus">
		update cart set unit=unit-1, total_cost=(prod_cost*unit) where id=#{param1}
	</update>
	
	<update id="unit_plus">
		update cart set unit=unit+1, total_cost=(prod_cost*unit) where id=#{param1}
	</update>
	
	<select id="getInfo" resultType="kr.co.buck1.member.MemberVO">
		select * from member where userid=#{param1}
	</select>
	
</mapper>