<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybats-3-mapper.dtd">

<mapper namespace="kr.co.buck1.HomeMapper">
	
	<select id="main_notice_list" resultType="kr.co.buck1.whatsnew.WhatsNewVO">
		SELECT id, title
		FROM notice
		ORDER BY id desc
		LIMIT 5
	</select>
	
	<select id="main_news_list" resultType="kr.co.buck1.whatsnew.WhatsNewVO">
		SELECT id, title
		FROM news
		ORDER BY id desc
		LIMIT 5
	</select>
	
	<select id="main_campaign_list" resultType="kr.co.buck1.whatsnew.WhatsNewVO">
		SELECT id, title
		FROM campaign
		ORDER BY id desc
		LIMIT 5
	</select>
	
</mapper>